/** 
 * CSS Reset
 * http://meyerweb.com/eric/tools/css/reset/
 */




/**  
 * DaisyJS Demo Styles
 * by Waren Gonzaga
 */



html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}



#momoland {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}




