

/* css for Auto compleate */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  
  
}

.autocomplete-items {
    max-height: 300px;
  overflow-y: scroll;
  position: absolute;
  border: 1px solid #411079;
  /*border-bottom: none;
*/  border-top: none;
      z-index: 1;
    top: 70%;
    left: 2px;
    right: 0;
   width: 70%;
    margin-left: 30px;
    
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
  
}
.autocomplete-active {
    
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
  
}