

.form-control-validation:required:valid { background: #82E0AA!important; }
.form-control-validation:required:invalid, .form-control-validation:focus:invalid { background: #F1948A!important; }
.form-control-validation:focus:valid  { background: #c2bfff!important; }
