

ul { list-style: none; }

a {
    color: #fff;
    text-decoration: none;
}



#prev, #next {
    cursor: pointer;
    max-width: 60px;
    opacity: 0;
    position: absolute;
    top: 45%;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    z-index: 999;
}

#prev { left: 0; }

#next { right: 0; }

#slider-container:hover #prev, #slider-container:hover #next { opacity: .7; }

.slide {
    position: absolute;
    width: 100%;
}

.slide-copy {
    background: #777;
    background: rgba(0, 0, 0, .5);
    bottom: 0%;
    color: #fff;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
}







@media screen and  (min-width: 992px) {
    #slider-container {
 
        height: 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        margin-left: -40px
    }

}

@media screen and  (max-width: 992px) {

    #slider-container {
        height: 600px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        width: 800px;

    }
}

#sldier {
    height: 100%;
    width: 100%;
}

#slider .slide img {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}