
b{
    display: block;
    padding: 10px;
}
button{
    padding: 5px 10px;
}
p img { 
    width: 200px;
    height: 200px;
    margin: 10px;
}

p img:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,.5),0 15px 12px rgba(0,1,121,.50)!important;
    transition: 0.2s;
    opacity: 1; 
    filter: alpha(opacity=100);
    position:relative;
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
    cursor: pointer !important;
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.spotlight.image{
    cursor: pointer;
}